div#idx_nav {
  width: 870px;
  margin: auto;
  padding-top: 5px;
}

div#idx_nav > nav > ul > li > a {
  color: white;
}

ul > li {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-left: 15px;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 15px;
}

h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 15px;
}

h3 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 15px;
}

nav > ul > li {
  display: inline;
}

nav a {
  text-decoration: none;
  padding: .5em 1em;
}

.wrapper {
  margin: auto;
  background-color: black;
}

div#top {
  position: relative;
  margin: auto;
  height: 450px;
  width: 800px;
  background-color: blueviolet;
  border-radius: 15px;
  top: 0px;
}

div#bottom {
  position: relative;
  margin: auto;
  width: 800px;
  height: 570px;
  background-color: #dd6300;
  border-radius: 15px;
  top: 0px;
}

div#top > img {
  position: absolute;
  top: 50px;
  margin-left: 15px;
}

div#bottom > img {
  position: absolute;
  top: 50px;
  margin-left: 15px;
}

div#bottom > h2 {
  position: absolute;
  margin-top: 10px;
  left: 250px;
}

section#early_life {
  position: absolute;
  width: 500px;
  top: 20px;
  left: 250px;
}

section#current_life {
  position: relative;
  width: 500px;
  top: 250px;
  left: 250px;
}

section#music {
  position: absolute;
  width: 500px;
  top: 30px;
  left: 250px;
}

section#keyboard {
  position: absolute;
  width: 500px;
  top: 250px;
  left: 250px;
}

section#gaming {
  position: absolute;
  width: 750px;
  top: 400px;
  left: 0px;
}

section#work_experience {
  position: relative;
}

section#objective {
  position: relative;
  margin-top: -120px;
  margin-left: 250px;
}

div#content {
  color: white;
  background-color: black;
}

section#education {
  position: relative;
  margin-top: 50px;
}

section#jewel {
  position: absolute;
  top: 30px;
}

section#get_ahead {
  position: absolute;
  top: 28px;
  margin-left: 600px;
}

section#mathnasium {
  position: absolute;
  margin-top: 240px;
  width: 570px;
}

section#iit {
  position: relative;
  margin-top: 276px;
  margin-left: 600px;
}

section#leadership {
  position: relative;
  margin-top: 30px;
}

section#computer {
  position: relative;
  margin-top: 30px;
}
