nav {

}

p {
  font-family: Helvetica, Arial, sans-serif
}

h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav > ul > li {
  display: inline;
}

nav a {
  text-decoration: none;
  padding: .5em 1em;
}

.wrapper {

}
